<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IPL App</title>
	<link rel="stylesheet" type="text/css" href="{% static "iplapp/css/homepage.css" %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	
	<div class="container" align="center">
		<div class="jumbotron">
        <h1 class="display-4"> IPL TEAM'S </h1><br>
 		
 		
  		<a class="btn btn-primary btn-lg" href="/ipl/csk/" role="button"> Add CSK Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/dc/" role="button"> Add DC Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/gt/" role="button"> Add GT Details</a><br><br>
  		<a class="btn btn-primary btn-lg" href="/ipl/kkr/" role="button"> Add KKR Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/lsg/" role="button"> Add LSG Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/mi/" role="button"> Add MI Details</a><br><br>
  		<a class="btn btn-primary btn-lg" href="/ipl/pk/" role="button"> Add PK Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/rcb/" role="button"> Add RCB Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/rr/" role="button"> Add RR Details</a><br><br>
  		<a class="btn btn-primary btn-lg" href="/ipl/srh/" role="button"> Add SRH Details</a><br><br>
  		<a class="btn btn-primary btn-lg" href="/ipl/homepage/" role="button">Back</a>&nbsp&nbsp&nbsp

		</div>
	</div>
</body>
</html>