<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IPL App</title>
	<link rel="stylesheet" type="text/css" href="{% static "iplapp/css/homepage.css" %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	
	<div class="container" align="center">
		<div class="jumbotron">
        <h1 class="display-4">Welcome to IPL Project </h1>
 		
 		
  		<a class="btn btn-primary btn-lg" href="/ipl/display/" role="button"> Add Team's Details</a>&nbsp&nbsp&nbsp
  		<a class="btn btn-primary btn-lg" href="/ipl/list/" role="button">List Of Team's</a>&nbsp&nbsp&nbsp
  		

		</div>
	</div>
</body>
</html>