<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student App</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	
	<div class="container" align="center">
		<div class="jumbotron">
        <h1 class="display-4">Student Feedback App</h1>
 		
 		
  		<a class="btn btn-primary btn-lg" href="/feedback/" role="button"> Add Feedback</a>&nbsp&nbsp&nbsp
  		
  		

		</div>
	</div>
</body>
</html>