<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "degreeapp/css/degree.css" %}">
	<title>My Degree</title>
</head>
<body>
	<h1>{{msg}}</h1>
	<img  id="i1" src="{% static "degreeapp/images/shruti.jpg" %}">
	<main><div>
	<button><a id="i3" href="{% static "degreeapp/images/degree.png" %}" class= 'button'> Degree Certificate</a></button></div>
	<div>
	<img  id="i2" src="{% static "degreeapp/images/nashik.jpg" %}">
	
	</div>
</main>
</body>
</html>