<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "cricketapp/css/homepage.css" %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<title>Cricket Data</title>

</head>
<body>
	<marquee>Welcome to Indian Cricket Team</marquee>
	<b><h2>Indian Cricket Team Player Data</h2></b>,
	<div class="container" align="center">
		<div class="jumbotron">
       <b> <h1 class="display-4">Cricket is a great leveler</h1></b>
 		
 		
  		<a class="btn btn-primary btn-lg" href="/display/" role="button">Team India</a>
		</div>
	</div>


</body>
</html>