<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "bioapp/css/bio.css" %}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<title>Degree Details</title>
</head>
<body>
	<img id="passport2" src="{% static "bioapp\images\shruti.jpg" %}">
    
	
	<div class="container">
		<div class="jumbotron"> 
  		
  		<img src="{% static "bioapp\images\degree.png" %}">
		</div>
	</div>

</body>
</html>